
.button {
  border:none;
  outline: none;
  border-radius: 5px ;
  padding: 16px 30px;
  


  &--lg{
    padding: 30px;
  }

  &--warning{
    color: #FBBF24;
    background-color: #FFFBEB;
    border: 2px solid #FBBF24;
  }

  &--danger{
    color: #F87171;
    background-color: #FEF2F2;
    border: 2px solid #f87171;

  }

  &--success{
    color: #047857;
    background-color: #ECFDF5;
    border: 2px solid #047857;

  }

  &--circle{
    border-radius: 50%;
  }
}