
.button {
  border:none;
  outline: none;
  border-radius: 5px ;


  &--lg{
    padding: 30px;
  }

  &--warning{
    color: #FBBF24;
    background-color: #FFFBEB;
    border-color: #FBBF24;
  }

  &--danger{
    color: #F87171;
    background-color: #FEF2F2;
    border-color: #F87171;
  }

  &--success{
    color: #047857;
    background-color: #ECFDF5;
    border-color: #047857;
  }

  &--circle{
    border-radius: 50%;
  }
}